.card img{
    width: 30%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
    font-size: 18px;
}
.home-tab-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto;
}
.grid-container {
    max-height: 500px;
}