<div class="flex flex-col width-fit gap-y-4 width-fit">
    <div class="flex px-4 justify-between">
        <div class="flex items-center gap-x-4">
            <div class="text-lg font-semibold whitespace-nowrap">Show the </div>
            <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                <input matInput type="number"/> 
            </mat-form-field>
            <span class="text-lg font-semibold whitespace-nowrap">highest usages</span>
        </div>
        <div class="flex">
            <button mat-raised-button color="primary" class="apply-btn dnm-btn dnm-btn-primary min-w-30" (click)="onApply()">Apply</button>
        </div>
    </div>
    <div class="flex flex-col py-6 gap-y-1 bg-gray-200 px-4">
        <div class="flex">
            <div class="text-lg font-semibold min-w-80">Peak On Date and time 1:</div>
            <div class="flex items-center gap-x-1">
                <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                    <input matInput type="text"/> 
                </mat-form-field>
                <span class="text-lg font-semibold">KL</span>
            </div>
        </div>
        <div class="flex">
            <div class="text-lg font-semibold min-w-80">Peak On Date and time 2:</div>
            <div class="flex items-center gap-x-1">
                <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                    <input matInput type="text"/> 
                </mat-form-field>
                <span class="text-lg font-semibold">KL</span>
            </div>
        </div>
        <div class="flex">
            <div class="text-lg font-semibold min-w-80">Peak On Date and time 3:</div>
            <div class="flex items-center gap-x-1">
                <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                    <input matInput type="text"/> 
                </mat-form-field>
                <span class="text-lg font-semibold">KL</span>
            </div>
        </div>
        <div class="flex">
            <div class="text-lg font-semibold min-w-80">Peak On Date and time 4:</div>
            <div class="flex items-center gap-x-1">
                <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                    <input matInput type="text"/> 
                </mat-form-field>
                <span class="text-lg font-semibold">KL</span>
            </div>
        </div>
        <div class="flex">
            <div class="text-lg font-semibold min-w-80">Peak On Date and time 5:</div>
            <div class="flex items-center gap-x-1">
                <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                    <input matInput type="text"/> 
                </mat-form-field>
                <span class="text-lg font-semibold">KL</span>
            </div>
        </div>
    </div>
    <div class="flex flex-col py-6 gap-y-1 px-4">
        <div class="flex gap-x-3">
            <div class="flex items-center">
                <div class="text-lg font-semibold min-w-80">Alarm Threshold Value:</div>
                <div class="flex items-center gap-x-1">
                    <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                        <input matInput type="text"/> 
                    </mat-form-field>
                    <span class="text-lg font-semibold">KL</span>
                </div>
            </div>
            <div class="flex items-center gap-x-2">
                <div class="text-lg font-semibold">For:</div>
                <div class="flex items-center gap-x-1">
                    <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                        <input matInput type="number"/> 
                    </mat-form-field>
                    <span class="text-lg font-semibold whitespace-nowrap">Consecutive Profiles</span>
                </div>
            </div>
            <div class="flex ml-4">
                <button mat-raised-button color="primary" class="apply-btn dnm-btn dnm-btn-primary min-w-30" (click)="onApply()">Apply</button>
            </div>
        </div>
    </div>
    <div class="flex justify-between w-full px-4">
        <div class="flex items-center">
            <div class="text-lg font-semibold min-w-80">Number of Alarms for above period:</div>
            <div class="flex items-center gap-x-1">
                <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                    <input matInput type="text"/> 
                </mat-form-field>
                <span class="text-lg font-semibold hidden">KL</span>
            </div>
        </div>
        <div class="flex items-center">
            <div class="text-lg font-semibold min-w-20">Active:</div>
            <mat-checkbox [color]="'primary'"></mat-checkbox>
        </div>
    </div>
</div>