<!-- <div style="min-height: 100vh; margin: 40px 10px !important; padding: 0 10px;">
  <section>
    <div class="col-md-1 alignLeft">
      <span>
        <button class="customButton" [routerLink]="['/admin/amrUser/edit', user.Id, 0]">
          <img src="/assets/images/icons/notify_AddUser.svg" />
          Add New User
        </button>
      </span>
    </div>
  </section>
  <br />
  <section style="text-align: center; margin: 10px;">
    <div class="row" *ngIf="user && user.AmrScadaUsers?.length" id="topDetails">
      <div class="col-md-12 row">
        <div class="col-md-3">
          <span><b><em>Profile:</em></b></span>
        </div>
        <div class="col-md-3">
          <span><b><em>Username:</em></b></span>
        </div>
        <div class="col-md-3">
          <span><b><em>Sgd URL:</em></b></span>
        </div>
        <div class="col-md-1">
          <span><b><em>Active:</em></b></span>
        </div>
        <div class="col-md-2">
          <span><b><em>&nbsp;</em></b></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 row" *ngFor="let usr of (user$ | async).AmrScadaUsers" id="userField" [routerLink]="['/admin/amrUser', usr.Id]">
          <div class="col-md-3 alignItems">
            <span>{{ usr.ProfileName }}</span>
          </div>
          <div class="col-md-3 alignItems">
            <span>{{ usr.ScadaUserName }}</span>
          </div>
          <div class="col-md-3 alignItems">
            <span style="display: inline-block; overflow: hidden; max-width: 25ch; text-overflow: ellipsis">{{ usr.SgdUrl }}</span>
          </div>
          <div class="col-md-1 alignItems">
            <span>{{ usr.Active }}</span>
          </div>
          <div class="col-md-2 alignItems">
            <span class="imgHov">
              <a [routerLink]="['/admin/amrUser/edit', user.Id, usr.Id]" id="edit-link">
                <img src="../../../../assets/icons/amr_Edit-User.svg" width="25px" />
                <div>Edit User</div>
              </a>
            </span>
          </div>
      </div>
    </div>
  </section>
</div> -->
<div class="flex flex-col relative">
  <div class="absolute left-2 top-2 z-20">
    <button mat-raised-button color="primary" class="dnm-btn dnm-btn-primary" [routerLink]="['/admin/amrUser/edit', user.Id, 0]">
      <mat-icon [svgIcon]="'feather:addUser'" class="mr-1"></mat-icon>
      Add new user
    </button>
  </div>
  <div class="flex w-full">
    <div class="flex flex-col bg-card p-2">
      <dx-data-grid
          [dataSource]="(user$ | async).AmrScadaUsers"
          [showBorders]="true"
          class="grid-container"
      >
          <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
          <dxo-paging [pageSize]="10"> </dxo-paging>
          <dxo-pager
              [visible]="true"
              [allowedPageSizes]="allowedPageSizes"
              [displayMode]="'compact'"
              [showPageSizeSelector]="true"
              [showInfo]="true"
              [showNavigationButtons]="true"
          >
          </dxo-pager>
          <dxo-search-panel
              [visible]="true"
              [width]="200"
              placeholder="Search..."
          ></dxo-search-panel>
          <dxi-column dataField="ProfileName" [width]="200"></dxi-column>
          <dxi-column dataField="ScadaUserName" [width]="200"></dxi-column>
          <dxi-column dataField="SgdUrl"></dxi-column>
          <dxi-column dataField="Active" [width]="120"></dxi-column>
          <dxi-column type="buttons">
            <dxi-button
              hint="Edit"
              icon="edit"
              [onClick]="onEdit"
            ></dxi-button>
          </dxi-column>
      </dx-data-grid>
    </div>
  </div>
</div>
