::ng-deep .dx-pivotgrid .dx-pivotgrid-horizontal-headers tr:first-child td:last-child span{
    display: none;
}
::ng-deep .dx-pivotgrid .dx-pivotgrid-horizontal-headers tr:nth-child(1) td {
    font-size: 18px;
    color: black;
    font-weight: bold; 
}
::ng-deep .dx-pivotgrid .dx-pivotgrid-horizontal-headers tr:nth-child(2) td {
    font-size: 18px;
    color: black;
    font-weight: bold;
}
::ng-deep .dx-pivotgrid .dx-pivotgrid-horizontal-headers:last-child {
    font-size: 18px;
    font-weight: bold;
    color: black;
}
