<div class="flex smart-services-dashboard-detail flex-col gap-y-4">
    <div class="flex gap-x-5">
        <div class="flex w-1/2">
            <app-period-criteria [type]="'Electricity'"></app-period-criteria>
        </div>
        <div class="flex w-1/2">
            <app-period-criteria [type]="'Water'"></app-period-criteria>
        </div>
    </div>
    <div class="flex gap-x-5">
        <div class="flex bg-card flex-col py-5 px-4 rounded-md gap-y-3 w-1/2">
            <div class="flex justify-between">
                <span class="text-2xl font-mediumbold">Statistics</span>
            </div>
            <div class="flex flex-col text-lg font-mediumbold gap-y-1">
                <div class="flex justify-between">
                    <span class="text-lg">Supply authority</span>
                    <span class="text-lg">404.17kWh</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-lg">Generator</span>
                    <span class="text-lg">200.00kWh</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-lg">Solar</span>
                    <span class="text-lg">100.00kWh</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-lg">Exported energy</span>
                    <span class="text-lg">0.00kWh</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-lg">Maximum demand</span>
                    <span class="text-lg">14.87kVA</span>
                </div>
            </div>
        </div>
        <div class="flex bg-card flex-col py-5 px-4 rounded-md gap-y-3 w-1/2">
            <div class="flex justify-between">
                <span class="text-2xl font-mediumbold">Statistics</span>
            </div>
            <div class="flex flex-col text-lg font-mediumbold gap-y-1">
                <div class="flex justify-between">
                    <span class="text-lg">Total consumption</span>
                    <span class="text-lg">600.80KL</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-lg">Average Usage</span>
                    <span class="text-lg">95.22KL</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-lg">Max Usage</span>
                    <span class="text-lg">125.19KL</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-lg">Total triggered leak alarms</span>
                    <span class="text-lg">4</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="flex gap-x-5 ">
    <div class="flex flex-col w-1/2 gap-y-4">
        <div class="flex">
            <app-period-criteria [type]="'Electricity'"></app-period-criteria>
        </div>
        <div class="flex bg-card flex-col py-5 px-4 rounded-md gap-y-3">
            <div class="flex justify-between">
                <span class="text-2xl font-mediumbold">Statistics</span>
            </div>
            <div class="flex flex-col text-lg font-mediumbold gap-y-1">
                <div class="flex justify-between">
                    <span class="text-lg">Supply authority</span>
                    <span class="text-lg">404.17kWh</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-lg">Generator</span>
                    <span class="text-lg">200.00kWh</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-lg">Solar</span>
                    <span class="text-lg">100.00kWh</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-lg">Exported energy</span>
                    <span class="text-lg">0.00kWh</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-lg">Maximum demand</span>
                    <span class="text-lg">14.87kVA</span>
                </div>
            </div>
            
        </div>
    </div>
    <div class="flex flex-col w-1/2">
        <div class="flex">
            <app-period-criteria [type]="'Water'"></app-period-criteria>
        </div>
    </div>
</div> -->