::ng-deep .dx-pivotgrid-fields-area-head .dx-area-field .dx-area-field-content{
    font-size: 18px;
    color: black;
    font-weight: bold;
}
::ng-deep .dx-pivotgrid-horizontal-headers .dx-row-total.dx-grandtotal {
    font-size: 18px;
    color: black;
    font-weight: bold;
}