<form class="flex flex-col w-full gap-y-2" [formGroup]="form">
    <div class="row grid grid-cols-4 gap-x-4 gap-y-2 w-full">
        <div class="col-span-1">
            <div class="bg-card gap-x-4 gap-y-2 p-2">
                <mat-label> Select Building </mat-label>
                <ng-select [items]="buildings" bindLabel="Name" bindValue="BuildingId" [placeholder]="'Select Building'"
                    [formControlName]="'UmfaId'" [searchable]="true" [clearable]="false"
                    (change)="selectionChanged($event)">
                </ng-select>
            </div>
        </div>
    </div>
    <ng-container *ngIf="selectedBuildingId>0">
        <div class="row grid grid-cols-12 gap-x-4 gap-y-2 w-full">
            <div class="col-span-5">
                <div class="bg-card flex flex-col gap-y-2 p-2">
                    <div class="text-lg py-1 border-b flex"><mat-icon>developer_board</mat-icon> UMFA Meters</div>
                    <dx-data-grid [dataSource]="umfaMeters" id="umfaMetersGrid" keyExpr="MeterId"
                        [selectedRowKeys]="[]" [showBorders]="true" class="grid-container" [hoverStateEnabled]="true"
                        (onRowClick)="selectUmfaMeter($event)" (onRowPrepared)="onUmfaMeterRowPrepared($event)" #umfaMeterTable>
                        <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-paging [pageSize]="10"> </dxo-paging>
                        <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="'compact'"
                            [showPageSizeSelector]="true" [showInfo]="true" [showNavigationButtons]="true">
                        </dxo-pager>
                        <dxo-search-panel [visible]="true" [width]="200" placeholder="Search..."></dxo-search-panel>
                        <dxi-column dataField="MeterId" [visible]="false" width="70"></dxi-column>
                        <dxi-column dataField="Mapped" [width]="70"></dxi-column>
                        <dxi-column dataField="MeterNo" [width]="110"></dxi-column>
                        <dxi-column dataField="Description"></dxi-column>
                        <dxi-column dataField="RegisterType" [width]="70"></dxi-column>
                        <dxi-column dataField="MeterType" [width]="70"></dxi-column>
                        <dxi-column dataField="Location" [width]="70"></dxi-column>
                        <dxi-column dataField="Sequence" [width]="70"></dxi-column>
                    </dx-data-grid>
                </div>
            </div>
            <div class="col-span-5">
                <div class="bg-card p-2 flex flex-col gap-y-2">
                    <div class="text-lg py-1 border-b flex"><mat-icon>developer_board</mat-icon> AMR Scada Meters</div>
                    <dx-data-grid [dataSource]="scadaMeters" id="scadaMetersGrid" [showBorders]="true"
                        class="grid-container" [hoverStateEnabled]="true" keyExpr="Serial" [selectedRowKeys]="[]"
                        (onRowClick)="selectScadaMeter($event)" (onRowPrepared)="onScadaMeterRowPrepared($event)" #scadaMeterTable>
                        <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
                        <dxo-paging [pageSize]="10"> </dxo-paging>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="'compact'"
                            [showPageSizeSelector]="true" [showInfo]="true" [showNavigationButtons]="true">
                        </dxo-pager>
                        <dxo-search-panel [visible]="true" [width]="200" placeholder="Search..."></dxo-search-panel>
                        <dxi-column dataField="Mapped" [width]="70"></dxi-column>
                        <dxi-column dataField="Serial" [width]="120"></dxi-column>
                        <dxi-column dataField="Name"></dxi-column>
                        <!-- <dxi-column dataField="Make" [width]="50"></dxi-column>
                        <dxi-column dataField="Model" [width]="50"></dxi-column> -->
                    </dx-data-grid>
                </div>
            </div>
            <div class="col-span-2">
                <div class="bg-card gap-x-4 gap-y-2 p-2 row grid grid-cols-1">
                    <div class="text-lg py-1 border-b flex"><mat-icon>add_location</mat-icon> Mapping Selection</div>
                    <div class="col-span-1">
                        <mat-label class="form-label">Register Type</mat-label>
                        <ng-select placeholder="Select Register Type..." [formControlName]="'RegisterType'">
                            <ng-option [value]="'kWh - Total'">kWh - Total</ng-option>
                            <ng-option [value]="'kWh - Peak'">kWh - Peak</ng-option>
                            <ng-option [value]="'kWh - Standard'">kWh - Standard</ng-option>
                            <ng-option [value]="'kWh - Off-Peak'">kWh - Off-Peak</ng-option>
                            <ng-option [value]="'kVA'">kVA</ng-option>
                            <ng-option [value]="'kVARh'">kVARh</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-span-1">
                        <mat-label class="form-label">Time Of Use</mat-label>
                        <ng-select placeholder="Select Time Of Use..." [formControlName]="'TimeOfUse'">
                            <ng-option [value]="'Cape Town MV Restricted'">Cape Town MV Restricted</ng-option>
                            <ng-option [value]="'Eskom Flex Tariffs'">Eskom Flex Tariffs</ng-option>
                            <ng-option [value]="'Non - Time Of Use'">Non - Time Of Use</ng-option>
                            <ng-option [value]="'City of Johannesburg'">City of Johannesburg</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-span-1">
                        <mat-label class="form-label">Supply Type</mat-label>
                        <ng-select placeholder="Select Supply Type..." [formControlName]="'SupplyType'">
                            <ng-option [value]="'AdHoc'">AdHoc</ng-option>
                            <ng-option [value]="'Electricity'">Electricity</ng-option>
                            <ng-option [value]="'Gas'">Gas</ng-option>
                            <ng-option [value]="'Sewerage'">Sewerage</ng-option>
                            <ng-option [value]="'Solar'">Solar</ng-option>
                            <ng-option [value]="'Water'">Water</ng-option>
                            <ng-option [value]="'Wind'">Wind</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-span-1">
                        <mat-label class="form-label">Location</mat-label>
                        <ng-select placeholder="Select Location..." [formControlName]="'Location'">
                            <ng-option [value]="'Air Handling Unit'">Air Handling Unit</ng-option>
                            <ng-option [value]="'Basement'">Basement</ng-option>
                            <ng-option [value]="'Borehole'">Borehole</ng-option>
                            <ng-option [value]="'Busbar'">Busbar</ng-option>
                            <ng-option [value]="'Chiller'">Chiller</ng-option>
                            <ng-option [value]="'Council'">Council</ng-option>
                            <ng-option [value]="'Council Check Meter'">Council Check Meter</ng-option>
                            <ng-option [value]="'Distribution Board'">Distribution Board</ng-option>
                            <ng-option [value]="'Escalator'">Escalator</ng-option>
                            <ng-option [value]="'Fire Hose Reel'">Fire Hose Reel</ng-option>
                            <ng-option [value]="'Fire Hydrant'">Fire Hydrant</ng-option>
                            <ng-option [value]="'General'">General</ng-option>
                            <ng-option [value]="'Generator'">Generator</ng-option>
                            <ng-option [value]="'Guard House'">Guard House</ng-option>
                            <ng-option [value]="'Irrigation'">Irrigation</ng-option>
                            <ng-option [value]="'Lift'">Lift</ng-option>
                            <ng-option [value]="'Lights'">Lights</ng-option>
                            <ng-option [value]="'Location #1'">Location #1</ng-option>
                            <ng-option [value]="'Location for Ad Hoc'">Location for Ad Hoc</ng-option>
                            <ng-option [value]="'Losses'">Losses</ng-option>
                            <ng-option [value]="'Management Office'">Management Office</ng-option>
                            <ng-option [value]="'Meter'">Meter</ng-option>
                            <ng-option [value]="'Multiple'">Multiple</ng-option>
                            <ng-option [value]="'Multiple shops'">Multiple shops</ng-option>
                            <ng-option [value]="'Parking'">Parking</ng-option>
                            <ng-option [value]="'Public Toilet'">Public Toilet</ng-option>
                            <ng-option [value]="'Pylon'">Pylon</ng-option>
                            <ng-option [value]="'Refuse Area'">Refuse Area</ng-option>
                            <ng-option [value]="'Shop'">Shop</ng-option>
                            <ng-option [value]="'Signage'">Signage</ng-option>
                            <ng-option [value]="'Single'">Single</ng-option>
                            <ng-option [value]="'Tap'">Tap</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-span-1">
                        <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                            <mat-label class="form-label">Description</mat-label>
                            <input matInput [formControlName]="'Description'"/>
                        </mat-form-field>
                    </div>
                    <div style="align-items: center;">
                        <button mat-raised-button color="primary" class="dnm-btn dnm-btn-primary" [disabled]="!form.valid" (click)="addMeterMapping()">
                            <mat-icon [svgIcon]="'feather:addMeter'" class="mr-1"></mat-icon>
                            Add Meter Mapping
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row grid grid-cols-1 gap-x-4 gap-y-2 w-full">
            <div class="col-span-1">
                <div class="bg-card flex flex-col gap-y-2 p-2">
                    <div class="text-lg py-1 border-b flex">Mapped Meters</div>
                    <dx-data-grid [dataSource]="mappedMeters" id="MappedMetersGrid" [showBorders]="true"
                        class="grid-container" [hoverStateEnabled]="true" displayExpr="MeterNo" valueExpr="Id"
                        (onRowClick)="selectMappedMeter($event)">
                        <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
                        <dxo-paging [pageSize]="10"> </dxo-paging>
                        <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="'compact'"
                            [showPageSizeSelector]="true" [showInfo]="true" [showNavigationButtons]="true">
                        </dxo-pager>
                        <dxo-search-panel [visible]="true" [width]="200" placeholder="Search..."></dxo-search-panel>
                        <dxi-column dataField="BuildingName" [width]="150"></dxi-column>
                        <dxi-column dataField="PartnerName" [width]="120"></dxi-column>
                        <dxi-column dataField="MeterNo" [width]="90"></dxi-column>
                        <dxi-column dataField="Description"></dxi-column>
                        <dxi-column dataField="ScadaSerial" [width]="100"></dxi-column>
                        <dxi-column dataField="ScadaDescription" [width]="150"></dxi-column>
                        <dxi-column dataField="RegisterType" [width]="105"></dxi-column>
                        <dxi-column dataField="TOUHeader" [width]="140"></dxi-column>
                        <dxi-column dataField="SupplyType" [width]="100"></dxi-column>
                        <dxi-column dataField="Location" [width]="100"></dxi-column>
                        <dxi-column type="buttons" [width]="80">
                            <dxi-button
                              hint="Delete"
                              icon="trash"
                              [onClick]="onRemoveMappedMeter"
                            ></dxi-button>
                        </dxi-column>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </ng-container>
</form>
