<div class="flex flex-col relative">
    <div class="flex w-full">
      <div class="flex flex-col bg-card p-2">
        <div class="flex gap-x-4 flex-wrap" [formGroup]="searchForm">
            <div class="flex flex-col">
                <mat-label class="form-label"> Partners </mat-label>
                <ng-select
                    [items]="partners"
                    bindLabel="Name"
                    bindValue="Id"
                    class="w-60"
                    [placeholder]="'Meter No'"
                    [formControlName]="'partnerId'"
                    [searchable]="false"
                    [closeOnSelect]="true"
                    [clearable]="false"
                    [multiple]="false"
                    (change)="onPartnerChanged($event)"
                    >
                </ng-select>
            </div>
            <div class="flex flex-col">
                <mat-label class="form-label"> Buildings </mat-label>
                <ng-select
                    [items]="buildings"
                    bindLabel="Name"
                    bindValue="BuildingId"
                    class="w-60"
                    [placeholder]="'Buildings'"
                    [formControlName]="'buildingId'"
                    [searchable]="false"
                    [closeOnSelect]="true"
                    [clearable]="false"
                    [multiple]="false"
                    (change)="onBuildingChanged($event)"
                    >
                </ng-select>
            </div>
        </div>
        <dx-data-grid
            [dataSource]="metersWithAlarms"
            [showBorders]="true"
            class="grid-container"
        >
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-paging [pageSize]="10"> </dxo-paging>
            <dxo-pager
                [visible]="true"
                [allowedPageSizes]="allowedPageSizes"
                [displayMode]="'compact'"
                [showPageSizeSelector]="true"
                [showInfo]="true"
                [showNavigationButtons]="true"
            >
            </dxo-pager>
            <dxo-search-panel
                [visible]="true"
                [width]="200"
                placeholder="Search..."
            ></dxo-search-panel>
            <dxi-column dataField="Description"></dxi-column>
            <dxi-column dataField="JobLabel" caption="Job Type" [width]="200"></dxi-column>
            <dxi-column dataField="Interval" [width]="120"></dxi-column>
            <dxi-column dataField="StatusLabel" caption="Status" [width]="120"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>
  