<div class="flex flex-col">
    <dx-pivot-grid
        [dataFieldArea]="'column'"
        [wordWrapEnabled]="false"
        [dataSource]="dataSource"
        [showBorders]="true"
        [showColumnGrandTotals]="false"
        [showColumnTotals]="false"
        [showRowGrandTotals]="false"
        id="shopBillingGrid"
        [allowExpandAll]="true"
        (onCellPrepared)="cellPrepared($event)"
        (onContentReady)="contentReady($event)"
    >
        <dxo-field-chooser [enabled]="false"></dxo-field-chooser>
    </dx-pivot-grid>
</div>