<div class="flex flex-col gap-y-6">
    <div class="grid grid-cols-4 gap-10 w-full" *ngIf="shopDetailDashboard">
        <div class="bg-cyan-600 col-span-1 flex flex-col flex-auto p-4 pb-2 shadow rounded-2xl overflow-hidden card cursor-pointer" (click)="onShopBilling()">
            <div class="flex items-start justify-between text-white h-full">
                <div class="flex flex-col w-full gap-y-1 justify-between h-full">
                    <div class="flex w-full justify-between">
                        <div class="flex flex-col">
                            <div class="text-xl font-medium tracking-normal leading-6 truncate">Billing</div>
                            <div class="text-lg tracking-normal ">
                                {{shopDetailDashboard.LatestPeriodBillings[0]['PeriodName']}}
                            </div>
                        </div>
                        <mat-icon class="icon-size-10" [svgIcon]="'feather:billing'"></mat-icon>
                    </div>
                    <div class="flex flex-col gap-y-2">
                        <div class="flex w-full justify-between text-md pr-4">
                            <span>Total</span>
                            <span>R {{billingTotal | number : '1.2-2'}}</span>
                        </div>
                        <div class="flex flex-col overflow-auto pr-2 text-md" style="max-height: 50px;">
                            <div class="flex justify-between" *ngFor="let billing of shopDetailDashboard.LatestPeriodBillings">
                                <span>{{billing.GroupName}}</span><span>R {{billing.Amount | number : '1.2-2'}}</span>
                            </div>
                        </div>
                    </div>
                </div>                                        
            </div>
        </div>
        <div class="bg-pink-500 col-span-1 flex flex-col flex-auto p-4 pb-2 shadow rounded-2xl overflow-visible card">
            <div class="flex items-start justify-between text-white h-full">
                <div class="flex flex-col w-full gap-y-1 justify-between h-full">
                    <div class="flex w-full justify-between cursor-pointer" (click)="onShopOccupation()">
                        <div class="flex flex-col">
                            <div class="text-xl font-medium tracking-normal leading-8 truncate">Occupations</div>
                        </div>
                        <mat-icon class="icon-size-10" [svgIcon]="'feather:occupations'"></mat-icon>
                    </div>
                    <div class="flex">
                        <ng-select class="occupation-type w-full" bindLabel="label" bindValue="value" [items]="tenantItems" [(ngModel)]="selectedTenantType">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <div class="row" [matTooltip]="item.label" [matTooltipPosition]="'right'">
                                    {{item['label']}}
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="flex justify-between text-md">
                        <span class="">All Time Tenants</span><span>{{shopDetailDashboard.Occupations[0]['NoOfOccupants']}}</span>
                    </div>
                </div>                                        
            </div>
        </div>
        <div class="bg-green-600 col-span-1 flex flex-col flex-auto p-4 pb-3 shadow rounded-2xl overflow-hidden card cursor-pointer">
            <div class="flex items-start justify-between text-white h-full">
                <div class="flex flex-col w-full gap-y-1 justify-between h-full">
                    <div class="flex w-full justify-between">
                        <div class="flex flex-col">
                            <div class="text-xl font-medium tracking-normal leading-6 truncate">Assigned Meters</div>
                        </div>
                        <mat-icon class="icon-size-10" [svgIcon]="'feather:added-meters'"></mat-icon>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex justify-between text-md">
                            <span class="">Shared</span><span>{{shopDetailDashboard.Occupations[0]['SharedMeters']}}</span>
                        </div>
                        <div class="flex justify-between text-md">
                            <span class="">Direct</span><span>{{shopDetailDashboard.Occupations[0]['DirectMeters']}}</span>
                        </div>
                    </div>
                    
                </div>                                        
            </div>
        </div>
        <div class="bg-indigo-500 col-span-1 flex flex-col flex-auto p-4 pb-2 shadow rounded-2xl overflow-hidden card cursor-pointer">
            <div class="flex items-start justify-between text-white h-full">
                <div class="flex flex-col w-full gap-y-1 justify-between h-full">
                    <div class="flex w-full justify-between">
                        <div class="flex flex-col">
                            <div class="text-xl font-medium tracking-normal leading-8 truncate">Readings</div>
                        </div>
                        <mat-icon class="icon-size-10" [svgIcon]="'feather:readings'"></mat-icon>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <div class="flex justify-between text-md" *ngFor="let reading of shopDetailDashboard.Readings">
                            <span class="">{{reading.ReadingMethod}}</span><span>{{reading.NoOfReadings}}</span>
                        </div>
                        <div class="flex justify-between text-md">
                            <span class="">Images Available</span><span>{{allAvailableImages}}</span>
                        </div>
                    </div>
                </div>                                        
            </div>
        </div>
    </div>
    <div class="flex bg-card bg-card rounded-md pt-3 pb-1 px-2 gap-x-2">
        <div class="flex flex-col w-1/2">
            <span class="text-2xl font-semibold mt-2">Billing Summary</span>
            <div class="flex w-full" id="chart">
                <apx-chart
                    class="w-full"
                    #treemapChart
                    [series]="treeMapOptions.series"
                    [chart]="treeMapOptions.chart"
                    [dataLabels]="treeMapOptions.dataLabels"
                    [plotOptions]="treeMapOptions.plotOptions"
                    [title]="treeMapOptions.title"
                    [colors]="treeMapOptions.colors"
                ></apx-chart>
            </div>
        </div>
        <div class="flex flex-col w-1/2 gap-y-4">
            <div class="flex justify-end">
                <dx-select-box [items]="billingPeriodList" displayExpr="name" valueExpr="value" class="form-control" label="Month"
                    placeholder="Select Month" lableMode="static" id="month" [(ngModel)]="selectedMonth" (valueChange)="onBillingMonthChange($event)">
                </dx-select-box>
            </div>
            <div class="flex w-full">
                <dx-data-grid
                    #grid
                    [dataSource]="billingSummaryDataSource"
                    [showBorders]="true"
                    id="slip-grid-container"
                    [hoverStateEnabled]="true"
                >
                    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
                    <dxi-column dataField="name" caption="" cellTemplate="cellGroupTemplate"></dxi-column>
                    <dxi-column dataField="usage" caption="Usage" [width]="120" cellTemplate="cellDigitTemplate"></dxi-column>
                    <dxi-column dataField="amount" caption="Amount" cellTemplate="cellValueTemplate" [width]="120"></dxi-column>
                    <div *dxTemplate="let data of 'cellValueTemplate'">
                        <ng-container *ngIf="data.value != null; else emptyTemplate">
                            R {{data.value | number : '1.0-2'}}
                        </ng-container>
                        <ng-template #emptyTemplate></ng-template>
                    </div>
                    <div *dxTemplate="let data of 'cellDigitTemplate'">
                        <ng-container *ngIf="data.value != null; else emptyTemplate">
                            {{data.value | number : '1.0-2'}}
                        </ng-container>
                        <ng-template #emptyTemplate></ng-template>
                    </div>
                    <div *dxTemplate="let data of 'cellGroupTemplate'">
                        <div class="flex gap-x-2 items-center"><div class="w-3 h-3 rounded-sm" [ngStyle]="{'background-color': groupColors[data.value]}"></div> {{data.value}}</div>
                    </div>
                </dx-data-grid>
            </div>
        </div>
    </div>
    <div class="flex flex-col bg-card">
        <div class="flex w-full justify-between p-2">
            <span class="text-xl font-semibold">Billing</span>
            <div class="flex gap-x-2">
                <dx-select-box [items]="periodLengthItems" displayExpr="name" valueExpr="value" class="form-control" label="Period"
                    placeholder="Select..." lableMode="static" id="billingPeriodLength" (valueChange)="onPeriodLengthChange('billing')" [(ngModel)]="selectedPeriodLengthForBilling">
                </dx-select-box>
                <dx-drop-down-box
                    [(value)]="selectedGroupsForBilling"
                    [inputAttr]="{ 'aria-label': 'Owner' }"
                    valueExpr="Id"
                    displayExpr="Name"
                    placeholder="Select..."
                    label="Group Name"
                    [showClearButton]="true"
                    [dataSource]="billingGroupItems">
                    <div *dxTemplate="let data of 'content'">
                        <dx-tree-view
                          [dataSource]="billingGroupItems"
                          dataStructure="plain"
                          keyExpr="Id"
                          parentIdExpr="categoryId"
                          selectionMode="multiple"
                          showCheckBoxesMode="normal"
                          [selectNodesRecursive]="false"
                          displayExpr="Name"
                          [selectByClick]="true"
                          (onContentReady)="onTreeViewReady($event, 'billing')"
                          (onInitialized)="onInitialized($event)"
                          (onItemSelectionChanged)="onTreeViewSelectionChanged($event, 'billing')"
                        >
                        </dx-tree-view>
                    </div>
                </dx-drop-down-box>
            </div>
        </div>
        <apx-chart
            class="w-full"
            #billingChart
            [series]="billingChartOptions.series"
            [chart]="billingChartOptions.chart"
            [dataLabels]="billingChartOptions.dataLabels"
            [plotOptions]="billingChartOptions.plotOptions"
            [yaxis]="billingChartOptions.yaxis"
            [fill]="billingChartOptions.fill"
            [stroke]="billingChartOptions.stroke"
            [tooltip]="billingChartOptions.tooltip"
            [xaxis]="billingChartOptions.xaxis"
            [colors]="billingChartOptions.colors"
        ></apx-chart>
    </div>

    <div class="flex flex-col bg-card">
        <div class="flex w-full justify-between p-2">
            <span class="text-xl font-semibold">Billing Usages</span>
            <div class="flex gap-x-2">
                <dx-select-box [items]="periodLengthItems" displayExpr="name" valueExpr="value" class="form-control" label="Period"
                    placeholder="Select..." lableMode="static" id="billingUsagePeriodLength" (valueChange)="onPeriodLengthChange('billingUsage')" [(ngModel)]="selectedPeriodLengthForBilling">
                </dx-select-box>
                <dx-drop-down-box
                    [(value)]="selectedGroupsForBillingUsage"
                    [inputAttr]="{ 'aria-label': 'Owner' }"
                    valueExpr="Id"
                    displayExpr="Name"
                    placeholder="Select..."
                    label="Group Name"
                    [showClearButton]="true"
                    [dataSource]="billingGroupItems">
                    <div *dxTemplate="let data of 'content'">
                        <dx-tree-view
                          [dataSource]="billingGroupItems"
                          dataStructure="plain"
                          keyExpr="Id"
                          parentIdExpr="categoryId"
                          selectionMode="multiple"
                          showCheckBoxesMode="normal"
                          [selectNodesRecursive]="false"
                          displayExpr="Name"
                          [selectByClick]="true"
                          (onContentReady)="onTreeViewReady($event, 'billingUsage')"
                          (onInitialized)="onInitialized($event)"
                          (onItemSelectionChanged)="onTreeViewSelectionChanged($event, 'billingUsage')"
                        >
                        </dx-tree-view>
                    </div>
                </dx-drop-down-box>
            </div>
        </div>
        <apx-chart
            class="w-full"
            #billingUsageChart
            [series]="billingUsageChartOptions.series"
            [chart]="billingUsageChartOptions.chart"
            [dataLabels]="billingUsageChartOptions.dataLabels"
            [plotOptions]="billingUsageChartOptions.plotOptions"
            [yaxis]="billingUsageChartOptions.yaxis"
            [legend]="billingUsageChartOptions.legend"
            [fill]="billingUsageChartOptions.fill"
            [stroke]="billingUsageChartOptions.stroke"
            [tooltip]="billingUsageChartOptions.tooltip"
            [xaxis]="billingUsageChartOptions.xaxis"
            [colors]="billingUsageChartOptions.colors"
        ></apx-chart>
    </div>
</div>